<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Stats</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

    <h4>Stats for the scottish healthbords A&E departments</h4>
  <table border="1" class="data-table">
    <tr>
      <td *ngFor="let header of headerRow" text-center><b>{{ header }}</b></td>
    </tr>
    <tr *ngFor="let row of CsvData; let i = index">
      <td *ngFor="let data of row; let j = index;" class="data-col ">
        <ion-input type="text" [(ngModel)]="CsvData[i][j]"></ion-input>
      </td>
    </tr>
  </table>

</ion-content>