<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Options</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h2>Text size</h2>
    <ion-segment>
        <ion-segment-button value="Small">
            <ion-label>Small</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Medium">
            <ion-label>Medium</ion-label>
        </ion-segment-button>
        <ion-segment-button value=Large>
            <ion-label>Large</ion-label>
        </ion-segment-button>
    </ion-segment>

    <h2>Text Contrast</h2>
    <ion-segment>
        <ion-segment-button value="On">
            <ion-label>On</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Off">
            <ion-label>Off</ion-label>
        </ion-segment-button>
    </ion-segment>
    <h2>Notifications</h2>
    <ion-segment>
        <ion-segment-button value="On">
            <ion-label>On</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Off">
            <ion-label>Off</ion-label>
        </ion-segment-button>
    </ion-segment>
    <h2>Text to speech</h2>
    <ion-segment>
        <ion-segment-button value="On">
            <ion-label>On</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Off">
            <ion-label>Off</ion-label>
        </ion-segment-button>
    </ion-segment>

    <ion-item>
        <ion-label>Text</ion-label>
        <ion-input [(ngModel)]="text"></ion-input>
    </ion-item>
    <ion-item>
        <ion-range min="1" max="30" step="1" [(ngModel)]="rate">
            <ion-icon small range-left name="remove"></ion-icon>
            <ion-icon small range-right name="add"></ion-icon>
        </ion-range>
    </ion-item>
    <ion-label>Language</ion-label>
    <ion-select [(ngModel)]="locale">
        <ion-item value="ru_RU">Russian</ion-item>
        <ion-item value="en_US">English</ion-item>
    </ion-select>
    <button ion-button full (click)="playText()">Play Text</button>
</ion-content>