<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Options</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h2>Text size</h2>
    <ion-segment (ionChange)="segmentChanged($event)">
        <ion-segment-button value="Small">
          <ion-label>Small</ion-label>
        </ion-segment-button>
        <ion-segment-button value="Medium">
          <ion-label>Medium</ion-label>
        </ion-segment-button>
        <ion-segment-button value=Large>
            <ion-label>Large</ion-label>
          </ion-segment-button>
      </ion-segment>

      <h2>Text Contrast</h2>
      <ion-segment (ionchange)="segmentChanged($event)">
      <ion-segment-button value="Yes">
          <ion-label>Yes</ion-label>
      </ion-segment-button>
      <ion-segment-button value = "No">
          <ion-label>No</ion-label>
      </ion-segment-button>
    </ion-segment>
    <h2>Notifications</h2>
    <ion-segment (ionchange)="segmentChanged($event)">
        <ion-segment-button value="Yes" >
            <ion-label >Yes</ion-label>
        </ion-segment-button>
        <ion-segment-button value = "No">
            <ion-label>No</ion-label>
        </ion-segment-button>
    </ion-segment>
</ion-content>