<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>About</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">About</ion-title>
        </ion-toolbar>
    </ion-header>
    <img src="../assets/NHS-Logo_edited.jpg"/>
    <h2> Aims and Objectives</h2>
    <p>There are many different aims for this application underneath is the aim and
        a description of the meaning behind the aims</p>
        <ul>
            <li>Cut down waiting times via filling in an ailment form</li>
            <p>This application was created to reduce waiting times of within the NHS
              that being at A&E or a GP surgery.This application also has a form submission system where the patient will 
              be able to fill in an ailment form for the a doctor to process.</p>
                <li>File transfer</li>
                <p>This application will allow the transfer of files via wifi, 4G technology and NFC/Bluetooth from a device.</p>
                <li>Combination of device data can speed up analysis</li>
                <p>With the inclusion of data being retrieved from a patients device will be able to speed up
                  the process of ailment diagnosis</p>       
          </ul>
</ion-content>