ion-menu-button {
    color: var(--ion-color-primary);
}

h1{
    margin-left: 20px;
    letter-spacing: 1px;
}

.id{
    justify-content: end;
    margin-top: 50px;
    margin-left: 1150px;
}

.btn{
    justify-content: center;
    margin-top: 25px;
    margin-left: 500px;
    margin-right: 450px;
    height: 50px;
    font-size: 40px;
    
}