<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Events</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <h1>Please Select a date</h1>
    <ion-item>
        <ion-label>DD MM YY From</ion-label>
        <ion-datetime displayFormat="DD MM YY" placeholder="Select Date" [(ngModel)]="startDate" size="large"></ion-datetime>
    </ion-item>
    <ion-item>
        <ion-label>DD MM YY To</ion-label>
        <ion-datetime displayFormat="DD MM YY" placeholder="Select Date" [(ngModel)]="endDate" size="large"></ion-datetime>
    </ion-item>
    <ion-button class="btn" expand="block" shape="round" (click)="searchDate()">Search</ion-button>
    <div *ngFor="let i of events">
        <ion-card>

            <ion-card-header>
                <ion-card-title>{{i.name}}</ion-card-title>
                <ion-card-title>{{i.location}}</ion-card-title>
                <ion-card-title>{{i.date}} @ {{i.time}}</ion-card-title>
            </ion-card-header>
            <ion-card-content>

                {{i.desc}}
            </ion-card-content>

        </ion-card>

    </div>


</ion-content>