<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Contact</ion-title>
        </ion-toolbar>
    </ion-header>
    <p>Hello, we are three final year master's students who have designed this web/mobile application as a 
      <b><u>proof of concept</u></b> for an electronic form submission system for A&E. Here we have created a a user-friendly front-end that will allow patients to fill in an ailment form that is submitted to the <i> EN-HS server</i>. 
      This form will be checked by a receptionist and processed by the system backend to produce a list of relevant diagnoses for a triage doctor to view and confirm and give a priority level to so that a patient may be seen.
      Once the form is processed, an email receipt is issued to the patient, confirming that their form has been seen and approved.
        </p>
        <h2>About us</h2>
        <h3>Project manager and developer</h3>
        <h3>Jake Burton</h3>
        <p class="p1">A student at Edinburgh Napier since 2016, Jake's main areas of interest are IoT, web scraping applications, game design and embedded systems programming. 
          He is familiar with the Python, Go and C++ programming languages. 
          As project manager, Jake has organised and lead the development of the project as well as implementing the prognosis 
          algorithm in Go on the backend.</p>
        <a href="mailto:40278490@live.napier.ac.uk">Jake Burton Napier email</a>
  
  
        <br/>
        <h3>Developer</h3>
        <h3>Ryan Thompson</h3>
        <p class="p1"> Coming to Edinburgh Napier from college in 2018, Ryan's main areas of interest are mobile/web application development, front-end design and games development. 
          Languages that Ryan is proficient in include Java, C#, JavaScript, TypeScript and Go. 
          Within the project Ryan helped develop the application functionality, linking back- and front-ends of the project and 
          assisted in settng up the backend server along with any databases that have been used. </p>
        <a href="mailto:40405884@live.napier.ac.uk">Ryan Thompson Napier email</a>
  
        <br/>
        <h3>Developer</h3>  
        <h3>Graeme Hill</h3>
        <p class="p1">Graeme joined Edinburgh Napier University in 2018 and his main interests are in front-end and web
          development. His strengths are in C#, Java, JavaScript, HTML and CSS. Within the project, Graeme helped design 
          and develop the front-end of the application, along with development of the email receipt system 
          and implemented a battery of tests for the project. </p>
        <a href="mailto:40315515@live.napier.ac.uk">Graeme Hill Napier email</a>
  

 
</ion-content>