ion-menu-button {
    color: var(--ion-color-primary);
}

.id{
    justify-content: end;
    margin-top: 50px;
    margin-left: 1150px;
  }
  
  p{
    font-size: 20px;
    letter-spacing: 1px;
    margin-left: 85px;
    word-spacing: 5px;
    margin-right: 70px;
    margin-top: 50px;
  }
  h2{
    margin-left: 85px;
  }
  
  h3{
    margin-left: 85px;
  }
  
  .p1{
    word-spacing: normal;
    margin-left: 85px;
    margin-top: 15px;
  }
  a{
    margin-left: 85px;
    font-size: 25px;
  }