<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Contact</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Contact</ion-title>
        </ion-toolbar>
    </ion-header>
    <p>Hello, we are three final year master's students who have designed this web/mobile application as a 
      <b><u>proof of concept</u></b> for an electronic form submission system for A&E. Here we have created a a user-friendly front-end that will allow patients to fill in an ailment form that is submitted to the <i> EN-HS server</i>. 
      This form will be checked by a receptionist and processed by the system backend to produce a list of relevant diagnoses for a triage doctor to view and confirm and give a priority level to so that a patient may be seen.
      Once the form is processed, an email receipt is issued to the patient, confirming that their form has been seen and approved.
        </p>
        <h2>About us</h2>
        <h3>Project manager and developer</h3>
        <h3>Jake Burton</h3>
        <p class="p1">Jake has been a student at Edinburgh Napier University for the last five years. Jakes main area of interest is IoT, web scraping, Languages
          that jake has used is python, go java. Within the project, jake managed the project which included managing sprints and
        sprint backlogs Also helped developed the ailment symptom checker algorithms.  </p>
        <a href="mailto:40278490@live.napier.ac.uk">Jake Burton Napier email</a>
  
  
        <br/>
        <h3>Developer</h3>
        <h3>Ryan Thompson</h3>
        <p class="p1"> Ryan has been a student at Edinburgh Napier University for the last three years. Ryans main area of interests is mobile
          application development, Web application, Front end development and backend development. Languages that Ryan has used is java, C#,
          javascript, typescript and go. Within the project Ryan helped develop the applications
        functionality and link it to the backend database and help set up the server. </p>
        <a href="mailto:40405884@live.napier.ac.uk">Ryan Thompson Napier email</a>
  
        <br/>
        <h3>Developer</h3>  
        <h3>Graeme Hill</h3>
        <p class="p1">Graeme has been a student at Edinburgh Napier University for the last three years. Graeme's main areas of interest area front end
          development, backend development, and full-stack development. Languages that Graeme has used is C#, java, javascript,
        HTML,CSS. Within the project, Graeme helped design and developed the front end of the application, Testing  the application and
      write up on the project. </p>
        <a href="mailto:40315515@live.napier.ac.uk">Graeme Hill Napier email</a>
  

 
</ion-content>