<ion-header [translucent]="true">
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Ailment Form</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Ailment Form</ion-title>
        </ion-toolbar>
    </ion-header>


    <ion-slides pager="true" [options]="{allowTouchMove:false}" #slides slidesPerView="1">
        <ion-slide>
            <div style="display:block">
                <ion-card color="danger">

                    <ion-card-header>

                        <ion-card-title>DISCLAIMER - Please do not use real data as this is a prototype of the ENHS system.</ion-card-title>
                    </ion-card-header>

                    <ion-card-content>
                        For the purpose of testing please enter fake data and symptoms.

                    </ion-card-content>
                    <ion-card-content>

                        <ion-button (click)="initBut(slides)">Accept</ion-button>
                        <ion-button color="warning">Decline</ion-button>
                    </ion-card-content>
                </ion-card>
            </div>





        </ion-slide>

        <ion-slide>

            <div style="display:block">

                <ion-item>
                    <ion-label position="floating">Name</ion-label>
                    <ion-input [(ngModel)]="name" required></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Date Of Birth</ion-label>
                    <ion-datetime displayFormat="MM DD YYYY" placeholder="Select Date" [(ngModel)]="dob"></ion-datetime>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Next of Kin</ion-label>
                    <ion-input [(ngModel)]="nok"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">Email</ion-label>
                    <ion-input [(ngModel)]="email" required></ion-input>
                </ion-item>

                <ion-button color="primary" (click)="nextSlide(slides)" [disabled]="!name || !dob || !nok  || !email">Next</ion-button>

            </div>
        </ion-slide>


        <ion-slide>
            <div style="display:block">
                <ion-item>
                    <ion-label position="floating">Address</ion-label>
                    <ion-input [(ngModel)]="address"></ion-input>
                </ion-item>
                <ion-item>
                    <ion-label position="floating">CHI Number</ion-label>
                    <ion-input [(ngModel)]="chinumber"></ion-input>
                </ion-item>
                <ion-button color="secondary" (click)="backSlide(slides)">Previous</ion-button>
                <ion-button color="primary" (click)="nextSlide(slides)" style="" [disabled]="!address">Next</ion-button>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="display:block">
                <ion-item>
                    <ion-label position="floating">Symptoms</ion-label>
                    <ion-item>
                        <ion-label>Symptoms</ion-label>
                        <ionic-selectable [(ngModel)]="s" [items]="ports" itemValueField="id" [isMultiple]="true" itemTextField="prettyName" [canSearch]="true" (onChange)="portChange($event)">
                        </ionic-selectable>
                    </ion-item>


                </ion-item>
                <ion-item>
                    <ion-label position="floating">Allergies</ion-label>
                    <ion-input [(ngModel)]="allergies"></ion-input>
                </ion-item>
                <ion-button color="secondary" (click)="backSlide(slides)">Previous</ion-button>
                <ion-button color="primary" (click)="nextSlide(slides)" style="" [disabled]="!s">Next</ion-button>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="display:block">
                <img src="../assets/scale.png " style="" />

                <ion-range dualKnobs="false" min="0" max="10" step="1" snaps="true" id="painScale" [(ngModel)]="knobValues">
                    <ion-label slot="start">0 (no pain) </ion-label>

                    <ion-label slot="end">10 (worst pain possible) </ion-label>
                </ion-range>
                <ion-label>{{knobValues}}</ion-label>
                <div>
                    <ion-button color="secondary" (click)="backSlide(slides)">Previous</ion-button>
                    <ion-button color="primary" (click)="nextSlide(slides)" style="" [disabled]="!knobValues">Next</ion-button>
                </div>

            </div>
        </ion-slide>
        <ion-slide>
            <div style="display:block">
                <ion-button color="success" (click)="scanQrCode()">Scan QR Code</ion-button>
                <ion-item>
                    <ion-label position="floating">Scan or enter site code</ion-label>

                    <ion-input [(ngModel)]="sitecode" [disabled]="true"></ion-input>




                </ion-item>




                <ion-button color="secondary" (click)="backSlide(slides)">Previous</ion-button>
                <ion-button color="primary" (click)="finalBut(slides)" [disabled]="!sitecode">Next</ion-button>
            </div>





        </ion-slide>

        <ion-slide>

            <div style="overflow-y: scroll;
  overflow-x: hidden;">
                <ion-label position="floating">Review Your Info & Form</ion-label>
                <ion-card>
                    <ion-item color="primary">
                        <ion-label>Hospital Info</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>{{sitename}}</ion-label>

                    </ion-item>
                    <ion-item>
                        <ion-label>{{siteAdd}}</ion-label>
                    </ion-item>
                </ion-card>
                <ion-card>
                    <ion-item color="primary">
                        <ion-label>Your Info</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Full Name: {{name}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Address: {{address}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Email: {{email}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Next of Kin: {{nok}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Date of Birth: {{dob}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>CHI Number: {{chinumber}}</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Allergies: {{allergies}}</ion-label>
                    </ion-item>
                </ion-card>
                <ion-card>
                    <ion-item color="primary">
                        <ion-label>Your Symptoms</ion-label>
                    </ion-item>
                    <div style="height:100px;width:100%;overflow:auto;">
                        <ion-list>
                            <ion-item *ngFor="let i of pSymptoms">
                                <ion-label>{{i}}

                                </ion-label>
                            </ion-item>
                        </ion-list>
                    </div>

                    <ion-item color="primary">
                        <ion-label>Your Pain Rating</ion-label>
                    </ion-item>
                    <ion-item>
                        <ion-label>Pain: {{knobValues}}</ion-label>
                    </ion-item>
                </ion-card>




                <ion-button color="secondary" (click)="backSlide(slides)">Previous</ion-button>
                <ion-button color="success" (click)="gatherInfo()" style="">Submit</ion-button>
            </div>





        </ion-slide>

    </ion-slides>

</ion-content>